@charset "utf-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "DM Serif Text", "Noto Sans KR";
  font-size: var(--default-font-size);
  color: var(--mono-color4);
}

section:not(.main_visual) {
  margin-bottom: 135px;
}

section > h2 {
  font-size: var(--title-font-size);
  font-weight: 500;
  text-align: center;
  margin-bottom: 70px;
}

/* 이미지 프레임 공통속성 */
.frame {
  border-radius: 4px;
  overflow: hidden;
}

/* 헤더 */
header {
  width: 100%;
  height: 75px;
  position: relative;
  border-bottom: 1px solid #fafafa50;
  box-sizing: border-box;
  z-index: 999;
  background-color: transparent;
}

header:hover {
  background-color: var(--mono-color1);
  transition-duration: 1.2s;
}

header:hover #gnb > ul > li > a {
  font-weight: 500;
  color: var(--mono-color4);
}

header:hover #gnb > ul > li > a:hover {
  color: var(--main-color);
}

header:hover .header_con > h1:not(:hover) {
  filter: invert(0);
}

header:hover .header_con > .icons > button {
  filter: invert(0);
}

.header_con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  box-sizing: border-box;
}

.header_con > h1:hover {
  filter: brightness(0) saturate(100%) invert(7%) sepia(65%) saturate(7248%)
    hue-rotate(248deg) brightness(107%) contrast(110%);
}

/* 로고 */
h1 {
  width: 93px;
  height: 20px;
  background: url(../img/logo.svg) no-repeat;
  filter: invert(100%);
}

h1 > a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}

/* gnb */
#gnb {
  width: 479px;
  height: 75px;
}

#gnb > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gnb > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}

#gnb > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #fafafa;
  padding: 0 20px;
}

#gnb > ul > li > a:hover {
  color: var(--main-color);
}

#gnb > ul > li:nth-child(2):hover .submenu_wrap,
#gnb > ul > li:nth-child(3):hover .submenu_wrap {
  display: block;
}

/* 2차 메뉴 공통 속성 */
.submenu_wrap {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--mono-color1);
  display: flex;
  align-items: center;

  display: none;
}

/* 커뮤니티 2차 메뉴 */
.submenu_wrap > ul > li > a:hover {
  font-weight: 500;
  color: var(--main-color);
}

.submenu_community,
.submenu_search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--mono-color1);
}

/* 아이콘 */
.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons > button:last-child {
  display: none;
}

.icons > button {
  border: none;
  background-color: transparent;
  filter: invert(100%);
}

.icons > button:hover {
  cursor: pointer;
}

.icons > button:hover img {
  filter: brightness(0) saturate(100%) invert(7%) sepia(65%) saturate(7248%)
    hue-rotate(248deg) brightness(107%) contrast(110%);
}

/* 메인비주얼 */
.main_visual {
  width: 100%;
  height: 875px;
}

.main_visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 950px;
  background: url(../img/main_visual_bg.jpg);
  filter: brightness(0.5);
  z-index: 0;
}

.main_visual > * {
  position: relative;
  z-index: 1;
}

/* 메인비주얼 텍스트 */
.main_visual_text {
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%);
  color: var(--mono-color1);
  text-align: center;
}

.main_visual_text > p {
  font-size: 96px;
  white-space: nowrap;
  margin-bottom: 30px;
}

.main_visual_text > span:nth-child(2) {
  font-size: var(--title-font-size);
  font-weight: 300;
}

.divider {
  width: 1px;
  height: 220px;
  background-color: transparent;
  margin: 110px auto 0;
  position: relative;
}

.divider::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mono-color1);
  animation: divider 2s ease 0s infinite;
}

@keyframes divider {
  0% {
    height: 0.1px;
  }

  100% {
    height: 220px;
    /* transform: translateY(220px); */
  }
}

.scroll {
  margin: 20px auto 10px;
}

/* 테스트 섹션 */
.sec_test {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.sec_test_img {
  width: 320px;
  height: 370px;
  overflow: hidden;
  margin-right: 200px;
}

.sec_test_img > img {
  width: 100%;
}

.sec_test_text {
  display: flex;
  flex-direction: column;
}

.sec_test_text > h2 {
  font-size: clamp(14px, 5vw, 28px);
  font-weight: 500;
  margin-bottom: 20px;
}

.sec_test_text > h2 > br {
  display: none;
}

.sec_test_text > span {
  line-height: 1.5;
}

.sec_test_text > a {
  font-size: var(--body-font-size);
  margin-top: 70px;
}

.sec_test_text > a:hover {
  color: var(--main-color);
}

/* 인기향수 섹션 */
.sec_popular {
  width: 1300px;
  height: auto;
  margin: 0 auto;
}

.tab_menu_wrap {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 135px;
}

.tab_menu_wrap > a {
  width: 200px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--mono-color2);
  transition: 0.3s;
}

.tab_menu_wrap > a:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* 지금 뜨는 향수 */
.swiper .swiper-slide {
  width: auto;
  height: auto;
  border: 1px solid transparent;
  padding: 0 15px;
  box-sizing: border-box;
}

.best_card_img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.best_card_img > a > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  opacity: 0;
  transition-duration: 0.3s;
}

.best_card_img > a > p {
  width: 90%;
  font-size: 14px;
  color: var(--mono-color1);
  line-height: 25px;
  text-align: center;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  word-break: keep-all;

  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);

  opacity: 0;
  transition-duration: 0.3s;
}

.best_card_img:hover > a > div,
.best_card_img:hover > a > p {
  opacity: 1;
}

.best_card_img1 img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.best_card_img2 img {
  width: 260px;
  object-fit: cover;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.best_card_img3 img {
  width: 310px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.best_card_img4 img {
  width: 240px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.maison_margiela {
  position: absolute;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-52%);
}

.best_card_img6 img {
  width: 125%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.best_card_img7 img {
  width: 110%;
  position: absolute;
  top: 40px;
  left: -10px;
}

.best_card_img8 img {
  width: 170%;
  position: absolute;
  top: -40px;
  left: -80px;
}

.best_card_img9 img {
  width: 200%;
  position: absolute;
  top: -100px;
  left: -110px;
}

.best_card_img10 img {
  width: 110%;
  position: absolute;
  top: 40px;
  left: -13px;
}

.best_card_star {
  display: flex;
  align-items: center;
  padding: 10px 10px 5px;
}

.star {
  width: 11px;
  height: 11px;
  margin: 0 2px;
}

.best_card_star > span {
  margin-left: 5px;
  margin-right: auto;
}

.heart {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.heart:hover {
  filter: brightness(0) saturate(100%) invert(18%) sepia(50%) saturate(3849%)
    hue-rotate(226deg) brightness(84%) contrast(97%);
}

.best_card_name {
  line-height: 1.5;
  padding: 15px 10px;
  border-top: 1px solid var(--mono-color2);
  border-bottom: 1px solid var(--mono-color2);
  margin: 8px 0;
}

.best_card_name > span:nth-child(1) {
  display: block;
  height: 46px;
  word-break: keep-all;
}

.best_card_name > span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.sec_popular_wrapper {
  width: 100%;
  position: relative;
}

.swiper {
  width: 100%;
  position: relative;
}

.sec_popular_wrapper .swiper-button-prev,
.sec_popular_wrapper .swiper-button-next {
  position: absolute;
  top: 170px;
  color: var(--mono-color2);
}

.sec_popular_wrapper .swiper-button-prev {
  left: -20px;
}

.sec_popular_wrapper .swiper-button-next {
  right: -20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--main-color);
}

.swiper-button-prev::after {
  left: -30px;
}

.swiper-button-next::after {
  right: -30px;
}

/* 섹션 : 신상 */
.sec_new {
  width: 100%;
  height: auto;
}

.new_wrap {
  width: 100%;
  height: 800px;
  background-color: var(--mono-color1);
  padding: 100px 100px;
  box-sizing: border-box;
  display: flex;
  gap: 80px;
}

.sec_new_img {
  width: 1000px;
  /* height: 600px; */
  overflow: hidden;
  position: relative;
}

.sec_new_img img {
  width: 100%;
  height: auto;
  display: block;
  /* position: absolute; */
  /* top: -10%; */
  object-fit: cover;
  transition-duration: 0.3s;
}

.sec_new_img img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.new_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.new_text > h2 {
  font-size: 45px;
}

.new_text > span {
  display: block;
  font-size: var(--body-font-size);
  line-height: 30px;
  margin-bottom: 50px;
}

.new_text > a > span {
  font-size: var(--body-font-size);
}

.new_text > a > span:hover {
  color: var(--main-color);
}

/* 섹션: 컬렉션 */

.sec_collection {
  width: 100%;
  height: auto;
}

.collectionSwiper .swiper-slide > a {
  width: 100%;
  display: block;
}

.sec_collection_card_img {
  width: 100%;
  height: 270px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
.sec_collection_card_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collectionSwiper .swiper-slide p {
  font-weight: 600;
  padding: 5px 0;
}

.collectionSwiper .swiper-slide a > span {
  width: 100%;
  display: block;
  line-height: 1.5;
  color: var(--mono-color3);
  margin: 15px 0;
  word-break: keep-all;
}

.sec_collection_card_user {
  display: flex;
  align-items: center;
}

.sec_collection_card_user_img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  overflow: hidden;
  margin-right: 10px;
}

.sec_collection_card_user4 {
  height: 100%;
  margin-left: -8px;
}

.sec_collection_card_user5 {
  height: 100%;
  margin-left: -6px;
}

.sec_collection_card_user > span {
  font-size: 14px;
  color: var(--mono-color3);
}

.sec_collection_card_user > img {
  filter: invert(34%) sepia(4%) saturate(315%) hue-rotate(21deg) brightness(91%)
    contrast(87%);
  margin-left: auto;
  margin-right: 5px;
}

.sec_collection .swiper-wrapper div:nth-child(5) span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

/* 섹션: 이벤트 배너 */
.sec_event {
  width: 100%;
  height: 300px;
}

.sec_event_wrap {
  width: 100%;
  height: 100%;
}

.sec_event_img {
  width: 100%;
  height: 100%;
  background: url(../img/event/event.jpg) no-repeat center;
  background-position: center 38%;
  position: relative;
}

.sec_event_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.sec_event_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;

  color: var(--mono-color1);
  z-index: 999;
}

.sec_event_text > p {
  font-size: var(--title-font-size);
}

.sec_event_text > p > br {
  display: none;
}

.sec_event_text > span > a {
  color: var(--mono-color1);
  font-size: var(--body-font-size);
}

.sec_event_text > span > a:hover {
  color: var(--main-color);
}

/* 섹션: 뉴스 */
.sec_news_wrap {
  width: 1300px;
  height: 650px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

/* 섹션: 뉴스 - 좌측 */
.sec_news_left {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec_news_left_img {
  width: 600px;
  height: 500px;
}

.sec_news_left_img > img {
  width: 100%;
  transition-duration: 0.3s;
}

.sec_news_left > p {
  font-size: var(--title-font-size);
  font-weight: 600;
}

.sec_news_left > span:nth-child(3) {
  line-height: 1.5;
  color: var(--mono-color3);
}

.view_more {
  font-size: 13px;
  color: var(--mono-color3);
  margin-top: auto;
  margin-left: auto;
}

/* 섹션: 뉴스 - 우측 */
.sec_news_right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sec_news_right_card {
  width: 650px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sec_news_left:hover .sec_news_left_img > img,
.sec_news_right_card:hover .sec_news_right_card_img > img {
  transform: scale(1.05);
}

.sec_news_right_card_img {
  width: 300px;
  height: 200px;
  position: relative;
}

.sec_news_right_card_img > img {
  transition-duration: 0.3s;
}

.sec_news_right_card_img1 {
  width: 100%;
  position: absolute;
  top: -42%;
}

.sec_news_right_card_img2 {
  width: 100%;
  position: absolute;
  top: -60px;
}

.sec_news_right_card_text {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.sec_news_right_card_text > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec_news_right_card_text > div > p {
  line-height: 1.5;
  font-size: 19px;
  font-weight: 600;
}

.sec_news_right_card_text > div > span {
  color: var(--mono-color3);
  line-height: 1.5;
}

/* 섹션: 리뷰 */
.sec_review_wrap {
  width: 1300px;
  height: 350px;
  display: flex;
  gap: 65px;
  margin: 0 auto;
}

.sec_review_card {
  width: 390px;
  height: 100%;
  border: 1px solid var(--mono-color2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 20px;
  box-sizing: border-box;
  transition-duration: 0.3s;
}

.sec_review_card:hover {
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.1);
}

/* 섹션: 리뷰 - 탑 */
.sec_review_top {
  display: flex;
  align-items: center;
  gap: 25px;
}

.sec_review_top_img {
  width: 100px;
  height: 100px;
  position: relative;
}

.sec_review_top_img > img {
  width: 100%;
}

.sec_review_top_img1 {
  position: absolute;
  transform: scale(1.3);
}

.sec_review_top_img3 {
  position: absolute;
  transform: scale(0.4);
  top: -55%;
}

.sec_review_top_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec_review_top_text > span {
  color: var(--mono-color3);
}

.sec_review_top_text > p {
  font-weight: 600;
}

.sec_review_top_text > div > span {
  margin-left: 10px;
}

/* 섹션: 리뷰 - 바텀 */
.sec_review_bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec_review_bottom_user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sec_review_bottom_user_img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  position: relative;
}

.sec_review_bottom_user_img > img {
  height: 100%;
}

.sec_review_bottom_user_img1,
.sec_review_bottom_user_img2 {
  width: 100%;
}

.sec_review_bottom > span {
  line-height: 1.5;
  color: var(--mono-color3);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  word-break: keep-all;
}

/* goToTop 버튼 */
#goToTop_btn {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid var(--mono-color2);
  border-radius: 100px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
}

#goToTop_btn::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/goToTop.svg) no-repeat center;
  cursor: pointer;
}

/* 풋터 */
footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid var(--mono-color2);
  display: flex;
  align-items: center;
}

.footer_wrap {
  width: 1300px;
  height: 40px;
  font-size: 13px;
  color: var(--mono-color3);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}

.footer_wrap > div {
  display: flex;
  gap: 34px;
}
