@charset "uft-8";
/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  section:not(.main_visual) {
    margin: 0 auto 80px;
  }

  /* 헤더 */
  .header_con {
    padding: 0 10px;
  }

  #gnb {
    display: none;
  }

  .icons > button:last-child {
    display: block;
  }

  /* 메인 비주얼 */
  .main_visual_text {
    top: 25%;
  }

  .main_visual_text > p {
    font-size: clamp(42px, 10vw, 70px);
    line-height: 1.1;
  }

  .main_visual_text > p > br {
    display: block;
  }

  .main_visual_text > span:nth-child(2) {
    font-size: clamp(18px, 4vw, 24px);
  }

  /* 섹션: 테스트 */
  .sec_test {
    height: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .sec_test_img {
    width: 230px;
    height: fit-content;
    overflow: hidden;
    margin: 0 auto 40px;
  }

  .sec_test_img > img {
    width: 100%;
  }

  .sec_test_text {
    text-align: center;
  }

  .sec_test_text > a {
    margin-top: 25px;
  }

  /* 섹션: 인기 향수 */
  .sec_popular {
    width: 100%;
  }

  .tab_menu_wrap {
    width: fit-content;
    height: fit-content;
    gap: 15px;
    margin: 0 auto 80px;
  }

  .tab_menu_wrap > a {
    width: 20%;
    height: 35px;
    font-size: clamp(14px, 15px, 16px);
    padding: 0px 5px;
  }

  .tab_menu_wrap > a:hover {
    color: var(--main-color);
  }

  .sec_popular_wrapper .swiper-button-prev {
    left: 10px;
  }

  .sec_popular_wrapper .swiper-button-next {
    right: 10px;
  }

  /* 섹션: 신상 향수 */
  .new_wrap {
    height: fit-content;
    display: block;
    padding: 50px 20px;
  }

  .sec_new_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .sec_new_img > a {
    width: 100%;
    height: auto;
    display: block;
  }

  .sec_new_img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .new_text > h2 {
    font-size: 30px;
    margin-top: 30px;
  }

  .new_text > span {
    font-size: var(--default-font-size);
    margin-bottom: 0;
  }

  .new_text > a {
    font-size: var(--default-font-size);
  }

  /* 섹션: 이벤트 배너 */
  .sec_event {
    height: fit-content;
  }

  .sec_event_wrap {
    height: 200px;
  }

  .sec_event_img {
    background-position: 70% 38%;
    background-size: 300%;
  }

  .sec_event_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sec_event_text > p {
    font-size: var(--default-font-size);
    line-height: 1.5;
  }

  .sec_event_text > p > br {
    display: block;
  }

  /* 섹션: 뉴스 */
  .sec_news {
    width: 100%;
    height: auto;
  }

  .sec_news_wrap {
    width: 90%;
    height: auto;
    flex-direction: column;
    gap: 25px;
  }

  .sec_news_left {
    width: 100%;
  }

  .sec_news_left > p {
    font-size: 19px;
  }

  .sec_news_left_img {
    width: 100%;
    height: auto;
    position: relative;
    aspect-ratio: 3 / 2; /* 비율 유지 */
  }

  .sec_news_left_img > img {
    position: absolute;
    top: -50px;
  }

  .sec_news_right {
    width: 100%;
  }

  .sec_news_right_card {
    width: 100%;
    flex-direction: column;
  }

  .sec_news_right_card_img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2; /* 비율 유지 */
  }

  .sec_news_right_card_img > img {
    width: 100%;
    height: auto;
  }

  .view_more {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* 섹션: 리뷰 */
  .sec_review_wrap {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .sec_review_card {
    width: 300px;
  }

  /* 풋터 */
  .footer_wrap > div {
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }
}

/* medium: 768~1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .main_visual_text > p > br {
    display: block;
  }

  .sec_test_img {
    margin-right: 30px;
  }

  .sec_popular {
    width: 100%;
  }

  /* 섹션: 인기 향수 */
  .tab_menu_wrap {
    width: fit-content;
    height: fit-content;
    gap: 15px;
    margin: 0 auto 80px;
  }

  .tab_menu_wrap > a {
    width: 20%;
    height: 35px;
    font-size: clamp(14px, 15px, 16px);
    padding: 0px 5px;
  }

  .tab_menu_wrap > a:hover {
    color: var(--main-color);
  }

  .sec_popular_wrapper .swiper-button-prev {
    left: 0px;
  }

  .sec_popular_wrapper .swiper-button-next {
    right: 0px;
  }

  /* 섹션: 신상 향수 */
  .new_wrap {
    height: fit-content;
    display: block;
    padding: 50px;
  }

  .sec_new_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .new_text h2 {
    margin-top: 20px;
  }

  .sec_event_img {
    background-position: 70% 38%;
  }

  /* 섹션: 뉴스 */
  .sec_news_wrap {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .sec_news_left {
    width: 650px;
  }

  .sec_news_right_card {
    height: 200px;
  }

  .view_more {
    margin-top: auto;
  }

  .sec_review_wrap {
    width: 100%;
    gap: 30px;
  }

  /* 섹션: 리뷰 */
  .sec_review_wrap {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .sec_review_card {
    width: 300px;
  }
}

@media (min-width: 945px) and (max-width: 1024px) {
  /* 섹션: 리뷰 */
  .sec_review_wrap {
    flex-direction: row;
    gap: 30px;
  }
}

/* large: 1025~1439px */
@media (min-width: 1025px) and (max-width: 1439px) {
  .main_visual_text > p > br {
    display: block;
  }

  /* 섹션: 인기 향수 */
  .sec_popular {
    width: 100%;
  }

  .tab_menu_wrap > a {
    width: 100px;
  }

  /* 섹션: 신상 */
  .new_wrap {
    height: fit-content;
  }

  /* 섹션: 뉴스 */
  .sec_news_wrap {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .sec_news_left {
    width: 650px;
  }

  .sec_news_right_card {
    height: 200px;
  }

  .view_more {
    margin-top: auto;
  }

  .sec_review_wrap {
    width: 100%;
    gap: 30px;
  }
}

/* extra large: 1440~1919px */
@media (min-width: 1440px) and (max-width: 1919px) {
}

/* full (기준 디자인 해상도): 1920px~ */
@media (min-width: 1920px) {
}
