@charset "uft-8";
/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  section:not(.main_visual) {
    margin: 0 auto 80px;
  }

  .header_con {
    padding: 0 10px;
  }

  #gnb {
    display: none;
  }

  .icons > button:last-child {
    display: block;
  }

  .main_visual_text {
    top: 25%;
  }

  .main_visual_text > p {
    font-size: clamp(42px, 10vw, 60px);
    line-height: 1.1;
  }

  .main_visual_text > span:nth-child(2) {
    font-size: clamp(18px, 4vw, 24px);
  }

  /* 섹션: 테스트 */
  .sec_test {
    height: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .sec_test_img {
    width: 230px;
    height: fit-content;
    overflow: hidden;
    margin: 0 auto 40px;
  }

  .sec_test_img > img {
    width: 100%;
  }

  .sec_test_text {
    text-align: center;
  }

  .sec_test_text > a {
    margin-top: 25px;
  }

  /* 섹션: 인기 향수 */
  .tab_menu_wrap {
    width: fit-content;
    height: fit-content;
    gap: 15px;
    margin: 0 auto 80px;
  }

  .tab_menu_wrap > a {
    width: 20%;
    height: 35px;
    font-size: clamp(14px, 15px, 16px);
    padding: 0px 5px;
  }

  .tab_menu_wrap > a:hover {
    color: var(--main-color);
  }

  .sec_popular {
    width: 100%;
  }

  .best_card_img1 img {
    width: 80%;
  }

  .best_card_img2 img {
    width: 90%;
    top: -40px;
  }

  .best_card_img3 img {
    width: 105%;
  }

  .best_card_img4 img {
    width: 80%;
  }

  .best_card_img5 img {
    width: 70%;
  }

  .best_card_img6 img {
    width: 100%;
  }

  .best_card_img7 img {
    width: 90%;
  }

  .best_card_img8 img {
    width: 145%;
    top: -60px;
  }

  .best_card_img9 img {
    width: 160%;
    top: -110px;
  }

  .best_card_img10 img {
    width: 92%;
    top: 30px;
  }

  .sec_popular_wrapper .swiper-button-prev {
    left: 10px;
  }

  .sec_popular_wrapper .swiper-button-next {
    right: 10px;
  }

  /* 섹션: 신상 향수 */
  .new_wrap {
    height: fit-content;
    display: block;
    padding: 50px 20px;
  }

  .sec_new_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .sec_new_img > a {
    width: 100%;
    height: auto;
    display: block;
  }

  .sec_new_img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .new_text > h2 {
    font-size: 30px;
    margin-top: 30px;
  }

  .new_text > span {
    font-size: var(--default-font-size);
    margin-bottom: 0;
  }

  .new_text > a {
    font-size: var(--default-font-size);
  }

  /* 섹션: 이벤트 배너 */
  .sec_event {
    height: fit-content;
  }

  .sec_event_wrap {
    height: 200px;
  }

  .sec_event_img {
    background-position: 70% 38%;
    background-size: 300%;
  }

  .sec_event_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sec_event_text > p {
    font-size: var(--default-font-size);
    line-height: 1.5;
  }

  .sec_event_text > p > br {
    display: block;
  }

  /* 섹션: 뉴스 */
  .sec_news {
    width: 100%;
    height: auto;
  }

  .sec_news_wrap {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .sec_news_left {
    width: 100%;
  }

  .sec_news_left_img {
    width: 100%;
    height: 200px;
    position: relative;
  }

  .sec_news_left_img > img {
    position: absolute;
    top: -30px;
  }

  .sec_news_left > p {
    font-size: 19px;
    line-height: 1.5;
  }

  /* 카드 오른쪽 */
  .sec_news_right {
    width: 100%;
    margin: 0 auto;
  }

  .sec_news_right_card {
    width: 100%;
  }

  .sec_news_right_card_img {
    width: 100%;
    height: 200px;
  }

  .sec_news_right_card_img1 {
    top: -60px;
  }

  .sec_news_right_card_text > div > span {
    display: block;
  }

  /* 섹션: 리뷰 */
  .sec_review_wrap {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .sec_review_card {
    width: 300px;
  }
}

/* 태블릿 sm */
@media screen and (min-width: 480px) and (max-width: 1024px) {
}

/* 모바일&태블릿 */
@media screen and (max-width: 640px) {
}

@media screen and (min-width: 641px) and (max-width: 1250px) {
}

/* 태블릿 - md, lg */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

/* 공통영역 */
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1600px) {
}
