@charset "utf-8";
@import url(../../reset.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "DM Serif Text", "Noto Sans KR";
  font-size: var(--default-font-size);
  color: var(--mono-color4);
}

/* 헤더 */
header {
  width: 100%;
  height: 75px;
  position: relative;
  border-bottom: 1px solid var(--mono-color2);
  box-sizing: border-box;
  z-index: 999;
  background-color: transparent;
}

header:hover {
  background-color: var(--mono-color1);
  transition-duration: 1.2s;
}

header:hover #gnb > ul > li > a {
  font-weight: 500;
  color: var(--mono-color4);
}

header:hover #gnb > ul > li > a:hover {
  color: var(--main-color);
}

header:hover .header_con > h1:not(:hover) {
  filter: invert(0);
}

header:hover .header_con > .icons > button {
  filter: invert(0);
}

.header_con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  box-sizing: border-box;
}

.header_con > h1:hover {
  filter: brightness(0) saturate(100%) invert(7%) sepia(65%) saturate(7248%)
    hue-rotate(248deg) brightness(107%) contrast(110%);
}

/* 로고 */
h1 {
  width: 93px;
  height: 20px;
  background: url(../../../img/logo.svg) no-repeat;
}

h1 > a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}

/* gnb */
#gnb {
  width: 479px;
  height: 75px;
}

#gnb > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gnb > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}

#gnb > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--mono-color4);
  padding: 0 20px;
}

#gnb > ul > li > a:hover {
  color: var(--main-color);
}

#gnb > ul > li:nth-child(2):hover .submenu_wrap,
#gnb > ul > li:nth-child(3):hover .submenu_wrap {
  display: block;
}

/* 2차 메뉴 공통 속성 */
.submenu_wrap {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--mono-color1);
  display: flex;
  align-items: center;

  display: none;
}

/* 커뮤니티 2차 메뉴 */
.submenu_wrap > ul > li > a:hover {
  font-weight: 500;
  color: var(--main-color);
}

.submenu_community,
.submenu_search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--mono-color1);
}

/* 아이콘 */
.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons > button:last-child {
  display: none;
}

.icons > button {
  border: none;
  background-color: transparent;
}

.icons > button:hover {
  cursor: pointer;
}

.icons > button:hover img {
  filter: brightness(0) saturate(100%) invert(7%) sepia(65%) saturate(7248%)
    hue-rotate(248deg) brightness(107%) contrast(110%);
}

/* 메인 이미지 */
.main_image {
  width: 100%;
  height: 800px;
  background-image: url(../../../img/main_visual_bg.jpg);
  position: relative;
  color: var(--mono-color1);
  margin-bottom: 100px;
}

.main_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main_image > div {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 999;

  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  line-height: 1.5;
}

.main_image h2 {
  font-size: 36px;
}

.main_image p {
  font-size: clamp(1rem, 2vw, 20px);
}

/* beginning 섹션 */
.section {
  width: 100%;
  height: 450px;
  margin: 0 auto 100px;
}

.section > div {
  width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 auto 100px;
}

.sec_text {
  width: 600px;
  height: 100%;
  display: flex;
  gap: 45px;
  flex-direction: column;
  justify-content: center;
}

.sec_text > h3 {
  font-size: 30px;
  color: var(--main-color);
}

.sec_text > p {
  line-height: 25px;
  word-break: keep-all;
}

.sec_img {
  width: 650px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_img > img {
  width: 100%;
}

.sec_img_beginning > img {
  width: auto;
  height: 100%;
}

/* mission 섹션 */
.sec_mission > div {
  flex-direction: row-reverse;
}

/* Our Values 섹션 */
.section_values {
  width: 100%;
}

.sec_values {
  width: 1300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 0 auto 100px;
}

.sec_values > h3 {
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
}

.sec_values_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
}

.sec_values_each {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.sec_values_each > span {
  font-size: var(--title-font-size);
}

.sec_values_each > p {
  line-height: 25px;
  text-align: center;
}

.sec_values_icon {
  width: 50px;
  height: 50px;
  background-color: var(--mono-color4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.sec_values_icon > img {
  width: 100%;
  filter: invert(100%);
}

/* 풋터 */
footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid var(--mono-color2);
  display: flex;
  align-items: center;
}

.footer_wrap {
  width: 1300px;
  height: 40px;
  font-size: 13px;
  color: var(--mono-color3);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}

.footer_wrap > div {
  display: flex;
  gap: 34px;
}
