@charset "uft-8";

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 헤더 */
  .header_con {
    padding: 0 10px;
  }

  #gnb {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    height: 75px;
    background-color: var(--mono-color1);

    display: none;
  }

  #gnb.active {
    display: block; /* menu-line 클릭 시 나타나기 */
  }

  #gnb > ul {
    justify-content: center;
  }

  .icons > button:last-child {
    display: block;
  }

  /* 배너 */
  .main_image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .main_image > div {
    width: 100%;
    height: 100%;
  }

  .main_image > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: static;
  }

  /* 타이틀 및 검색창 */
  .title > div {
    width: 90%;
  }

  /* 좌측(상측) 필터 */
  .discover_con {
    width: 100%;
    flex-direction: column;
  }

  .discover_left {
    width: 90%;
    margin: 0 auto 50px;
  }

  .discover_left_title > h2 {
    font-size: clamp(var(--body-font-size), 3vw, var(--title-font-size));
  }

  .discover_left_option_name {
    margin-top: 10px;
  }

  .discover_left_option_name > div:first-child {
    font-weight: 400;
  }
  .divider {
    margin-top: 10px;
  }

  /* 우측(하측) 향수 */
  .discover_right {
    width: 90%;
    margin: 0 auto;
  }

  .discover_right_con {
    gap: 20px;
  }

  .swiper-slide {
    width: calc((100% - 40px) / 3);
  }

  .best_card_img {
    display: flex;
    justify-content: center;
  }

  .best_card_img > a > p,
  .best_card_star span,
  .best_card_name {
    font-size: clamp(12px, 2vw, 14px);
  }

  .best_card_star {
    padding: 0;
    margin-top: 8px;
  }

  /* 풋터 */
  .footer_wrap > div {
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }
}

/* 모바일 하트 아이콘 */
@media screen and (min-width: 320px) and (max-width: 499px) {
  .best_card_star img:last-child {
    width: 12px;
    height: 12px;
  }
}

/* medium: 768~1299px 배너 */
@media (min-width: 769px) and (max-width: 1024px) {
  /* 배너 */
  .main_image {
    width: 100%;
    height: 450px;
  }

  .main_image > div {
    width: 100%;
    height: 100%;
  }

  .main_image > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: static;
  }
}

/* medium: 768~1299px */
@media (min-width: 769px) and (max-width: 1299px) {
  /* 타이틀 및 검색창 */
  .title > div {
    width: 90%;
  }

  /* 좌측(상측) 필터 */
  .discover_con {
    width: 100%;
    flex-direction: column;
  }

  .discover_left {
    width: 90%;
    margin: 0 auto 50px;
  }

  .discover_left_title > h2 {
    font-size: 24px;
  }

  .discover_left_option_name {
    margin-top: 10px;
  }

  .discover_left_option_name > div:first-child {
    font-weight: 400;
  }

  .divider {
    margin-top: 10px;
  }

  /* 우측(하측) 향수 */
  .discover_right {
    width: 90%;
    margin: 0 auto;
  }

  .discover_right_con {
    gap: 20px;
  }

  .swiper-slide {
    width: calc((100% - 40px) / 3);
  }

  .best_card_img {
    display: flex;
    justify-content: center;
  }

  .best_card_img > a > p,
  .best_card_star span,
  .best_card_name {
    font-size: var(--default-font-size);
  }

  .best_card_star {
    padding: 0;
    margin-top: 8px;
  }
}
