@charset "utf-8";
@import url(../../reset.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "DM Serif Text", "Noto Sans KR";
  font-size: var(--default-font-size);
  color: var(--mono-color4);
}

section {
  margin-bottom: 100px;
}

section > h2 {
  font-size: var(--title-font-size);
  font-weight: 500;
  text-align: center;
  margin-bottom: 70px;
}

/* 이미지 프레임 공통속성 */
.frame {
  border-radius: 4px;
  overflow: hidden;
}

/* 헤더 */
header {
  width: 100%;
  height: 75px;
  position: relative;
  border-bottom: 1px solid var(--mono-color2);
  box-sizing: border-box;
  z-index: 999;
  background-color: transparent;
}

header:hover {
  background-color: var(--mono-color1);
  transition-duration: 1.2s;
}

header:hover #gnb > ul > li > a {
  font-weight: 500;
  color: var(--mono-color4);
}

header:hover #gnb > ul > li > a:hover {
  color: var(--main-color);
}

header:hover .header_con > h1:not(:hover) {
  filter: invert(0);
}

header:hover .header_con > .icons > button {
  filter: invert(0);
}

.header_con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  box-sizing: border-box;
}

.header_con > h1:hover {
  filter: brightness(0) saturate(100%) invert(7%) sepia(65%) saturate(7248%)
    hue-rotate(248deg) brightness(107%) contrast(110%);
}

/* 로고 */
h1 {
  width: 93px;
  height: 20px;
  background: url(../../../img/logo.svg) no-repeat;
}

h1 > a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}

/* gnb */
#gnb {
  width: 479px;
  height: 75px;
}

#gnb > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gnb > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}

#gnb > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--mono-color4);
  padding: 0 20px;
}

#gnb > ul > li > a:hover {
  color: var(--main-color);
}

#gnb > ul > li:nth-child(2):hover .submenu_wrap,
#gnb > ul > li:nth-child(3):hover .submenu_wrap {
  display: block;
}

/* 2차 메뉴 공통 속성 */
.submenu_wrap {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--mono-color1);
  display: flex;
  align-items: center;

  display: none;
}

/* 커뮤니티 2차 메뉴 */
.submenu_wrap > ul > li > a:hover {
  font-weight: 500;
  color: var(--main-color);
}

.submenu_community,
.submenu_search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--mono-color1);
}

/* 아이콘 */
.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons > button:last-child {
  display: none;
}

.icons > button {
  border: none;
  background-color: transparent;
}

.icons > button:hover {
  cursor: pointer;
}

.icons > button:hover img {
  filter: brightness(0) saturate(100%) invert(7%) sepia(65%) saturate(7248%)
    hue-rotate(248deg) brightness(107%) contrast(110%);
}

/* 메인 이미지 */
.main_img {
  width: 100%;
  height: 450px;
}

.main_img > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.main_img > div > img {
  position: absolute;
  top: -470px;
}

/* 타이틀 */
.title {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.title > div {
  width: 1000px;
  height: 44px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: var(--mono-color6);
  padding: 0 10px;
}

.title input {
  width: 100%;
  height: 100%;
  font-size: var(--default-font-size);
  background-color: var(--mono-color6);
  display: block;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  outline: none;
}

.title > div > div {
  cursor: pointer;
}

.title > div > div:hover {
  filter: brightness(0) saturate(100%) invert(7%) sepia(65%) saturate(7248%)
    hue-rotate(248deg) brightness(107%) contrast(110%);
}

/* discover 왼쪽 필터 */
.discover {
  width: 100%;
  height: auto;
}

.discover_con {
  width: 1300px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.discover_left {
  width: 370px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--mono-color2);
  padding: 20px 30px;
  border-radius: 8px;
  box-sizing: border-box;
}

.discover_left_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover_left_title > h2 {
  font-size: var(--title-font-size);
  font-weight: 500;
}

.discover_left_title > button {
  cursor: pointer;
}

.discover_left_title > button {
  font-size: var(--default-font-size);
  background-color: var(--mono-color5);
  border: 1px solid var(--mono-color2);
  border-radius: 8px;
  padding: 10px 10px;
}

.discover_left_option_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.discover_left_option_name > div:first-child {
  font-weight: 500;
}

.discover_left_option_name > div:nth-child(2) {
  width: 25px;
  height: 25px;
}

.discover_left_option_chevron {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.discover_left_option_name img {
  width: 100%;
  rotate: -90deg;
}

/* 옵션들 */
.discover_left_option {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  padding: 0 8px;
  display: flex;
  flex-wrap: wrap;
  transition: max-height 0.3s ease;
  box-sizing: border-box;
}

.discover_left_option.open {
  max-height: 500px; /* 충분히 큰 값 */
  overflow: visible;
}

.discover_left_option_each {
  margin-top: 20px;
  margin-right: 15px;
}

.custom_checkbox {
  display: none; /* 기본 라디오 숨김 */
}

.custom_label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom_label::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid var(--mono-color2);
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}

.custom_checkbox:checked + .custom_label::after {
  background-color: var(--main-color);
  background-image: url("/img/discover/check.svg");
}

.custom_input_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.custom_input_wrap > div {
  width: 16px;
  height: 16px;
}

.custom_input {
  width: calc(50% - 8px);
  padding: 10px 10px;
  border: none;
  background-color: var(--mono-color6);
}

.discover_left_option_each_range {
  width: 100%;
}

#price {
  width: 100%;
}

.discover_left_option_each_input {
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

#input_box {
  width: 100%;
  font-size: var(--default-font-size);
  padding: 10px 10px;
  border: none;
  background-color: var(--mono-color6);
  outline: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--mono-color2);
  margin-top: 20px;
}

/* discover 오른쪽 향수 */
.discover_right {
  width: calc(1300px - 370px - 60px);
  margin-left: 60px;
}

.discover_right_align {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.custom_select_wrap {
  position: relative; /* 중요: 자식 img 위치 기준이 됨 */
  width: fit-content; /* 필요 시 고정폭 지정 가능 */
}

.custom_select {
  appearance: none;
  width: 100%;
  padding: 10px 40px 10px 14px; /* 오른쪽 여백 확보 */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
}

.custom_select_wrap img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg); /* 위아래 정중앙 + 회전 */
  width: 16px;
  height: 16px;
  pointer-events: none; /* 클릭 방해 방지 */
}

/* 오른쪽 랩 */
.discover_right_con {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.swiper-slide {
  width: 250px;
}

.best_card_img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.best_card_img > a > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  opacity: 0;
  transition-duration: 0.3s;
}

.best_card_img > a > p {
  width: 90%;
  font-size: 14px;
  color: var(--mono-color1);
  line-height: 25px;
  text-align: center;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;

  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);

  opacity: 0;
  transition-duration: 0.3s;
}

.best_card_img:hover > a > div,
.best_card_img:hover > a > p {
  opacity: 1;
}

.best_card_img1 img {
  width: 220px;
  position: absolute;
  left: 15px;
}

.best_card_img2 img {
  width: 260px;
  object-fit: cover;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.best_card_img3 img {
  width: 310px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.best_card_img4 img {
  width: 240px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.best_card_img5 img {
  position: absolute;
  left: 20px;
  top: 40px;
}

.best_card_img6 img {
  width: 115%;
  position: absolute;
  top: 20px;
  left: -22px;
}

.best_card_img7 img {
  width: 100%;
  position: absolute;
  top: 40px;
}

.best_card_img8 img {
  width: 170%;
  position: absolute;
  top: -70px;
  left: -85px;
}

.best_card_img9 img {
  width: 190%;
  position: absolute;
  top: -120px;
  left: -110px;
}

.best_card_img10 img {
  width: 110%;
  position: absolute;
  top: 20px;
  left: -13px;
}

.best_card_star {
  display: flex;
  align-items: center;
  padding: 10px 10px 5px;
}

.star {
  width: 11px;
  height: 11px;
  margin: 0 2px;
}

.best_card_star > span {
  margin-left: 5px;
  margin-right: auto;
}

.heart {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.heart:hover {
  filter: brightness(0) saturate(100%) invert(18%) sepia(50%) saturate(3849%)
    hue-rotate(226deg) brightness(84%) contrast(97%);
}

.best_card_name {
  line-height: 1.5;
  padding: 15px 10px;
  border-top: 1px solid var(--mono-color2);
  border-bottom: 1px solid var(--mono-color2);
  margin: 8px 0;
}

.best_card_name > span:nth-child(1) {
  display: block;
  height: 46px;
}

.best_card_name > span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

/* 페이지네이션 */
.pagination_wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}

.pagination_wrap > div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination_wrap > div:nth-child(2) {
  background-color: var(--main-color);
  border-radius: 8px;
  color: var(--mono-color1);
}

.pagination_wrap > div:first-child,
.pagination_wrap > div:last-child {
  background-color: var(--mono-color2);
  border-radius: 8px;
}

.pagination_wrap > div:first-child > img,
.pagination_wrap > div:last-child > img {
  width: 90%;
  filter: invert(1);
}

/* 풋터 */
footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid var(--mono-color2);
  display: flex;
  align-items: center;
}

.footer_wrap {
  width: 1300px;
  height: 40px;
  font-size: 13px;
  color: var(--mono-color3);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}

.footer_wrap > div {
  display: flex;
  gap: 34px;
}
