@charset "utf-8";
/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 헤더 */
  .header_con {
    padding: 0 10px;
  }

  #gnb {
    display: none;
  }

  .icons > button:last-child {
    display: block;
  }

  /* 요약 */
  .summary_container {
    width: 90%;
    flex-direction: column-reverse;
    gap: 100px;
    margin: 0 auto;
    padding: 30px;
  }

  .summary_right_img {
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
  }

  .summary_right_img > img {
    width: 300px;
    height: 300px;
    top: -30px;
    left: -50px;
  }

  .star_point {
    gap: 10px;
  }

  .each_star_point {
    width: 15px;
    height: 15px;
  }

  .summary_left > p {
    word-break: keep-all;
  }

  .summary_left > p > br {
    display: none;
  }

  .price {
    flex-wrap: wrap;
  }

  .price > span:first-child {
    margin-right: 10px;
  }

  /* 섹션: 디테일 */
  .detail_wrap {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }

  .detail_left {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .detail_right {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .note_chips_wrap {
    flex-wrap: wrap;
  }

  .hashtag_wrap {
    flex-wrap: wrap;
  }

  /* 섹션: 상세설명 */
  .describe_wrap {
    width: 90%;
  }

  .byredo_logo {
    width: 150px;
    margin-top: 100px;
  }

  .describe_title > h2 {
    font-size: var(--body-font-size);
  }

  .describe_title > span {
    font-size: var(--default-font-size);
  }

  .byredo_latulipe {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .byredo_latulipe > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .describe_img {
    width: 90%;
    height: auto;
  }

  .describe_text {
    margin-top: 100px;
  }

  .describe_text > p {
    font-size: var(--default-font-size);
    line-height: 1.5;
    word-break: keep-all;
  }

  .describe_text > p > br:not(br:nth-child(3)) {
    display: none;
  }

  /* 섹션: 리뷰 */
  .review_wrap {
    width: 90%;
    padding: 20px;
  }

  .review_star_point {
    flex-direction: column;
    align-items: flex-start;
  }

  .review_star_point button {
    margin-left: 0;
  }

  .review_rate_wrap {
    flex-direction: column;
    gap: 20px;
  }

  .rate_bar {
    width: 100px;
  }

  .review_card {
    width: 100%;
    padding: 20px;
  }

  .review_user {
    display: block;
  }

  .review_user_right {
    margin-top: 10px;
  }

  .hashtag_wrap {
    gap: 10px;
  }

  /* 섹션: 중고 */
  .secondHand_wrap {
    width: 90%;
    padding: 30px;
  }

  .secondHand_con {
    flex-direction: column;
    align-items: center;
  }

  .secondHand_card {
    width: 100%;
    max-width: 270px;
  }

  .secondHand_card_img1 > img {
    top: -100px;
  }

  .secondHand_card_img2 > img {
    top: -20px;
  }

  .secondHand_card_img3 > img {
    top: -20px;
  }

  .secondHand_card_img4 > img {
    top: -10px;
  }

  .secondHand_volume {
    flex-wrap: wrap;
  }

  .secondHand_volume > p {
    margin-left: 0;
  }

  .recommendation_wrap {
    width: 90%;
  }

  .recommendation_box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .user_rcmd_wrap {
    width: 90%;
    padding: 30px;
  }

  .user_rcmd_box {
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }

  .user_card {
    width: 100%;
    padding: 20px;
  }

  .like_wrap {
    justify-content: center;
  }

  .user_card_match {
    width: 90%;
  }

  .user_card_match > .match_rate_bar {
    width: 100%;
  }

  .followBtn + p {
    height: fit-content;
  }

  /* 풋터 */
  .footer_wrap > div {
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }
}
